.side-bar{
    display: flex;
    flex-direction: column;
    background-color: rgb(0 0 0 / 0%);
    height: 100%;
    width: 16vh;
}
.side-bar button{
    display: flex;
    height: 3.5vh;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    border: 0;
    text-align: right;
    background-color: rgb(0 0 0 / 0%);
    color: #2A2934;
    font-size: large;
    align-self: flex-end;
    justify-content: flex-end;
    gap: 3px;
}
.side-bar button:hover{
    background-color: #2A2934;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    padding: 0 8px;
}

.side-bar button:hover .liked-heart,
.side-bar button:hover .sidebar-watch-eye,
.side-bar button:hover .sidebar-home-icon{
    stroke: white;
    fill: white;
}
.side-bar button p{
    margin: 0;
    align-self: center;
    font-weight: 300;
}

.side-bar h1{
    margin-right: 0.5vh;
    font-size: 1.2rem;
    color: rgb(74, 74, 74);
    text-align: right;
    font-weight: 300;
    align-self: flex-end;
}
.liked-heart{
    stroke: #2A2934;
    fill: none;
    width: 2vh;
}
.sidebar-watch-eye{
    stroke: #2A2934;
    fill: none;
    width: 2vh;
}

.sidebar-home-icon{
    stroke: #2A2934;
    fill: none;
    width: 2vh;
}

@media screen and (max-width: 768px) {
    .side-bar {
        width: 12vh;
    }

    .side-bar h1 {
        font-size: 1rem;
    }

    .side-bar button {
        font-size: medium;
        height: 3vh;
    }

    .liked-heart,
    .sidebar-watch-eye,
    .sidebar-home-icon {
        width: 1.8vh;
    }
}
